body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

.input-area {
  text-align: center;
  background-color: #95f895;
  width: 400px;
  height: 60px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.multiplication {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
  display: inline-block;
}
button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  margin-left: 4px;
  margin-top: 6px;
}

button:hover {
  background-color: #95a0ff;
  color: #fff;
  cursor: pointer;
}

.result-area {
  background-color: #f4e8ff;
  width: 400px;
  height: 100px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.result {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.result-num {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  font-size: 30px;
  color: #666;
}
